.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.newTrackerWindow {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: #11a9ac;
  border-radius: 5px;
}

.activeTrackerWindow {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #11a9ac;
  border-radius: 5px;
}

.activeTrackerWindow p {
  margin: 0;
}

.windowTitle {
  margin: 0;
  text-align: center;
}

.trackerName {
  border: 1px solid black;
  height: 30px;
  padding-left: 10px;
}

.btn {
  height: 30px;
}

.sessionsWindow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #11a9ac;
  border-radius: 5px;
}

.sessionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.dataPair {
  margin-bottom: 10px;
}

.sessionsGrid h4 {
  margin: 0;
  margin-bottom: 0;
}

.sessionsGrid p {
  margin: 0;
}

.sessionCard {
  background-color: #a6e2e3;
  border-radius: 5px;
  padding: 20px;
}

.sortWrapper {
  display: flex;
  flex-direction: column;
}

.sortWrapper h4 {
  margin: 0;
  margin-bottom: 10px;
}

.sortBtnWrapper {
  display: flex;
  gap: 10px;
}

.sortButton {
  width: 50px;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}